<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>guinness world records</title>
    
</head>
<body>
    <h2>Strong hit</h2>
        <p>Norwegian {{power_nan}} became famous for the fact that on November 9, 2006 in Oslo on the set of a television program
            TV2 "Senkweld" broke 90 concrete blocks with his hand in one minute</p>

    <h2>Hamburger</h2>
        <p>July 31, 2006, the {{bar_name}} grill bar in Pattaya Beach, Thailand, included the most
            large hamburger weighing 35.6 kg.</p>


     <h2>Hedgehog</h2>
        <p>March 23, 2004 in the city of Nanning (China) in the head and lipo of the brave Chinese Wei Shengchu was stuck
            {{count_needle}} acupuncture needles.</p>

</body>
</html>