<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>

    <title>Keanu Charles Reeves</title>

</head>
<body>
    <h1>Keanu Charles Reeves</h1>
    <h1>Тестовая запись</h1>
    <p>Keanu Reeves is a Canadian actor, film director, film producer and musician (bass guitar player).
        Born September 2 {{уеаг_born}} in the town {{city_born}}, Lebanon</p>
    
    <p>Referring to his performance in the film "{{movie_name}}" (1991), the critic of the newspaper The New York Times Janet Maslin
    praises
        Reeves' acting versatility, saying that he "shows considerable discipline and range. He
    easily
        shifts between a restrained demeanor suited to a police procedural story and a flexible
    his manner
        comic roles"</p>
</body>
</html>>